/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Project */

:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-dark: rgba(0, 0, 0, 0.9);
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
}

body {
  /* font-family: sans-serif, monospace; */
  font-family: "Montserrat", sans-serif, monospace;
  /* font-size: 1.3rem; */
  background-image: url(/dist/img/bg-butter-chicken.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: var(--font-color);
}

#content {
  height: 100vh;
}

/* header */

.header {
  background-color: var(--background-dark);
  padding-top: 3rem;
}

.page-heading {
  font-size: 4rem;
  text-align: center;
  font-family: "Tangerine", cursive;
  color: var(--font-color);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 90px;
}

.tab {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 90px;
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  color: var(--font-color);
  transition: transform 0.3s;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  transform: translateY(-10%);
}

/* home page */

.image {
  height: 350px;
  border-radius: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  padding: 2rem;
  margin: 2rem 0;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: auto;
}

.outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-div-heading {
  font-size: 3.6rem;
}

.outer-div-para1,
.outer-div-para2 {
  font-size: 1.4rem;
}

.outer-div,
.image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 90%;
}

/* menu */

.menu-container {
  max-width: 800px;
  padding: 4rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  animation: fadeIn 1.5s;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 2rem;
  cursor: pointer;
  background-color: var(--background-light);
  transition: background-color 0.3s;
  border-radius: 10px;
}

.card h2 {
  padding: 1.2rem;
}

.card-heading {
  font-size: 2rem;
  text-align: center;
}

.card-para {
  font-size: 1.2rem;
  width: 250px;
  text-align: center;
}

.menu-card-img {
  height: 200px;
  width: 240px;
  border-radius: 10px;
}

/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  max-width: 900px;
  margin: 20px auto;
}

.contact-main-heading-container {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.contact-body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  /* background-color: var(--background-light);
  border: 1px solid var(--border-color); */
}

.info {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
}

.info h2 {
  font-size: 2rem;
  padding: 25px 0;
}

.info p {
  font-size: 1.2rem;
  padding: 5px 0;
  font-weight: 400;
}

/* responsive - media queries */

@media only screen and (max-width: 600px) {
  /* tabs and resturant page */
  .header {
    height: 250px;
  }

  .page-heading {
    font-size: 3rem;
  }
  .nav-container {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tab {
    width: 200px;
    margin: 2px 0;
  }

  .main {
    max-width: 290px;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .outer-div {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .outer-div-heading {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .image {
    height: 300px;
    margin: 20px 0;
  }

  /* menu page */

  .menu-container {
    max-width: 290px;
    padding: 2rem;
  }

  .menu {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding: 1rem;
    height: 350px;
  }

  /* contact page */

  .contact-container {
    max-width: 290px;
  }

  .contact-main-heading-container {
    font-size: 3rem;
    height: 70px;
  }

  .contact-body-container {
    flex-direction: column;
    gap: 10px;
  }

  .info h2 {
    font-size: 1.4rem;
    padding: 15px 0;
  }

  .info {
    height: 130px;
  }
}

@media only screen and (min-width: 768px) {
  /* menu */
  .menu-container {
    width: 780px;
    padding: 20px 15px;
  }

  .menu {
    gap: 2rem;
  }

  /* contact */

  .contact-container {
    max-width: 790px;
  }

  .info {
    width: 220px;
  }
}
